!!!
%html
  %head
    %title New Project
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags          
  %body  
    #wrap{ :style => "#{content_for :wrap_style}"}
      .navbar.main.navbar-static-top
        .navbar-inner
          .container
            =link_to 'New Project', root_path

      .container{ :class => content_for(:container_class) }
        .content
          = yield
         
    :javascript
      $( function() {
        #{content_for :javascript_templates}
        #{content_for :javascript}
      } );    