!!!
%html
  %head
    %title New Project
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags          
  %body  
    #wrap{ :style => "#{content_for :wrap_style}"}
      .container
        .navbar
          .navbar-inner
            =link_to 'Tweet News Reader', root_path, :class => "brand"
            %ul.nav.pull-right
              %li
                - if user_signed_in?
                  =#link_to 'Edit profile', edit_user_registration_path
                  =link_to "Logout", destroy_user_session_path, method: :delete 
                - else
                  =link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)
      .container{ :class => content_for(:container_class) }
        .content
          .row
            .span12
              = yield
         
    :javascript
      $( function() {
        #{content_for :javascript_templates}
        #{content_for :javascript}
      } );    